@import "./general/variables", "./general/mixin", "./pages/index", 
"./pages/header", "./pages/footer", "./pages/restaurants", "./animations/anim-btn", 
"./animations/anim-loader", "./animations/anim-menu-slidein", "./pages/responsive";

// Général
*{
    margin: 0;
    padding: 0;
}
body {
    width: 100%;
    max-width: 1440px;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    margin: auto;
}
main{
    margin-bottom: -40px;
}

.fa-solid, .fa-regular {
    font-size: 22px;
}

i{
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

p{
    font-size: 16px;
    color: black;
}

.btn {
    cursor: pointer;
    width: fit-content;
    padding: 15px;
    margin-top: 27px;
    border: none;
    border-radius: 25px;
    color: white;
    background: linear-gradient(193deg, $second-color -11.44%, $main-color 123.93%);
    @include shadowbox;
}

.section-title {
    font-size: 24px;
    font-weight: bolder;
    color: black;
    margin-bottom: 26px;
}

.card {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 15px;
    margin-bottom: 18px;
    box-sizing: border-box;
    height: fit-content;
    &__title{
        color: black;
        font-size: 18px;
        margin-bottom: 5px;
    }
    &__content {
        box-sizing: border-box;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 13px;
    }
    &__text-content{
        flex-direction: column;
    }
    p{
        font-size: 17px;
    }
}

