// Variables

//Couleurs
$main-color: #9356DC;
$second-color: #FF79DA;
$third-color: #99E2D0;
$main-bg-color: #F6F6F6;
$dark-bg-color: #353535;
$icon-color: #7E7E7E;

//Durées
$index-loader-duration: 3s;
$index-loader-duration-p:calc($index-loader-duration + 0.1s);
$anim-menu-delay: 150ms;
