// Slide in des Items du Menu

.menu{
    .card{
        height: 0;
        transform: translateX(200%);
        animation: menu-slideIn 1s;
        animation-fill-mode: forwards;
        @for $i from 1 through 10{
            &--#{$i}{
                animation-delay: $anim-menu-delay * $i;
            }
        }
    }
}

@keyframes menu-slideIn {
    0%{
        height: 0;
        transform: translateX(200%);
    }
    100%{
        height: fit-content;
        transform: translateX(0);
    }
}