// Footer

.footer {
    width: inherit;
    background-color: $dark-bg-color;
    *{
        color: white;
    }
    &__logo{
        width: fit-content;
        display: flex;
        font-size: 18px;
        font-family: Shrikhand;
        margin-bottom: 16px;
    }
    &__content{
        display: flex;
        flex-direction: column;
        width: fit-content;
        padding: 22px 25px;
        i{
            width: 11px;
            margin-right: 15px;
        }
        li{
            display: flex;
            list-style-type: none;
            margin-bottom: 7px;
        }
        p {
            width: 50%;
        }
    }
}