// Main Index
.intro {
    display: flex;
    flex-direction: column;
    & > *:not(:last-child){
        margin-bottom: 27px;
    }
    &__content{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 0 15px;
        padding-top: 40px;
        padding-bottom: 30px;
        background-color: $main-bg-color;
        
    }
    &__site-function{
        padding: 50px 20px;
        background-color: white;
    }
    &__function-list{
        display: flex;
        flex-direction: column;
        justify-content: left;
        i{
            margin: 28px 10px;
            color: $icon-color;
        }
        .fa-store{
            color: $main-color;
        }
        p{
            display: flex;
            justify-content: left;
            align-items: center;
            counter-increment: list-counter;
            font-size: 16px;
            font-weight: bold;
            border-radius: 25px;
            height: 72px;
            margin-left: 20px;
            margin-bottom: 25px;
            background-color: $main-bg-color;
            @include shadowbox;
            &::before{
                height:15px;
                content: counter(list-counter);
                position: relative;
                left: -15px;
                font-size: 80%;
                background-color: $main-color;
                color: white;
                font-weight: bold;
                padding: 6px 10px;
                border-radius: 16px;
            }
        }
        

        

        
    }
}

// Liste des restaurants
.restaurant {
    display: flex;
    flex-direction: column;
    padding: 40px 25px;
    background-color: $main-bg-color;
    &__list{
        display: flex;
        flex-direction: column;
    }
    .card{
        height: 251px;
        img{
            height: 70%;
            width: 100%;
            object-fit: cover;
            border-radius: 15px 15px 0 0;
            height: 65%;
        }
    }
    
}