.intro {
  display: flex;
  flex-direction: column;
}
.intro > *:not(:last-child) {
  margin-bottom: 27px;
}
.intro__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0 15px;
  padding-top: 40px;
  padding-bottom: 30px;
  background-color: #F6F6F6;
}
.intro__site-function {
  padding: 50px 20px;
  background-color: white;
}
.intro__function-list {
  display: flex;
  flex-direction: column;
  justify-content: left;
}
.intro__function-list i {
  margin: 28px 10px;
  color: #7E7E7E;
}
.intro__function-list .fa-store {
  color: #9356DC;
}
.intro__function-list p {
  display: flex;
  justify-content: left;
  align-items: center;
  counter-increment: list-counter;
  font-size: 16px;
  font-weight: bold;
  border-radius: 25px;
  height: 72px;
  margin-left: 20px;
  margin-bottom: 25px;
  background-color: #F6F6F6;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
}
.intro__function-list p::before {
  height: 15px;
  content: counter(list-counter);
  position: relative;
  left: -15px;
  font-size: 80%;
  background-color: #9356DC;
  color: white;
  font-weight: bold;
  padding: 6px 10px;
  border-radius: 16px;
}

.restaurant {
  display: flex;
  flex-direction: column;
  padding: 40px 25px;
  background-color: #F6F6F6;
}
.restaurant__list {
  display: flex;
  flex-direction: column;
}
.restaurant .card {
  height: 251px;
}
.restaurant .card img {
  height: 70%;
  width: 100%;
  object-fit: cover;
  border-radius: 15px 15px 0 0;
  height: 65%;
}

.header {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.header__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 14px 0;
}
.header__logo a {
  position: relative;
  left: -5%;
  font-weight: 800;
}
.header__location {
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  background-color: #EAEAEA;
}
.header__location i {
  margin-right: 17px;
  color: black;
}

.footer {
  width: inherit;
  background-color: #353535;
}
.footer * {
  color: white;
}
.footer__logo {
  width: fit-content;
  display: flex;
  font-size: 18px;
  font-family: Shrikhand;
  margin-bottom: 16px;
}
.footer__content {
  display: flex;
  flex-direction: column;
  width: fit-content;
  padding: 22px 25px;
}
.footer__content i {
  width: 11px;
  margin-right: 25px;
}
.footer__content li {
  display: flex;
  list-style-type: none;
  margin-bottom: 7px;
}
.footer__content li .fa-solid {
  color: white;
}
.footer__content p {
  width: 50%;
}

.restaurant__header {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 32px;
  margin-bottom: 40px;
  box-sizing: border-box;
}
.restaurant i {
  box-sizing: border-box;
  width: 22px;
  padding: 24px;
  margin-right: 24px;
}
.restaurant__name {
  width: 341px;
  font-family: Shrikhand;
  font-size: 28px;
  font-weight: 400;
  line-height: 28px;
}
.restaurant__image {
  z-index: -1;
  width: 100%;
  height: 275px;
  object-fit: cover;
}

.menu {
  position: relative;
  top: -40px;
  z-index: 1;
  background-color: #F6F6F6;
  border-radius: 30px 30px 0 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 15px;
  padding-bottom: 40px;
  overflow: hidden;
}
.menu section {
  width: 100%;
  margin-bottom: 40px;
}
.menu__title {
  display: flex;
  flex-direction: column;
  width: fit-content;
  font-size: 16px;
  font-weight: 300;
  text-transform: uppercase;
  margin-bottom: 12px;
  line-height: 27px;
}
.menu__title::after {
  content: " ";
  width: 40px;
  border-bottom: 3px solid #99E2D0;
}
.menu .card {
  display: flex;
  flex-direction: row;
  justify-content: left;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
}
.menu .card__text-content {
  display: block;
  width: 100%;
  padding: 15px 5px 15px 15px;
  overflow: hidden;
}
.menu .card__text-content > * {
  white-space: nowrap;
  overflow: hidden;
  display: block;
  text-overflow: ellipsis;
}
.menu .card__text-content p {
  margin-top: 5px;
  font-size: 15px;
  font-weight: lighter;
}
.menu .card .price {
  display: flex;
  justify-self: flex-end;
  align-self: flex-end;
  font-weight: bold;
  padding: 15px 15px 15px 5px;
}

.btn {
  transform: scale(1);
  transition: all ease-in-out 400ms;
}
.btn:hover {
  opacity: 0.8;
  box-shadow: 2px 6px 12px 0px rgba(0, 0, 0, 0.5);
}

.fa-regular {
  z-index: 0;
  position: absolute;
  right: 14px;
  top: -10px;
  color: #7E7E7E;
}

.fav-btn {
  position: relative;
  box-sizing: border-box;
  width: 22px;
  height: auto;
  cursor: pointer;
}
.fav-btn i {
  position: absolute;
  right: 14px;
  top: -10px;
  height: auto;
  justify-self: right;
  color: #7E7E7E;
  padding: 0;
  margin: 0;
}
.fav-btn .fa-solid {
  z-index: 1;
  color: #9356DC;
  background-color: none;
  opacity: 0;
  transform: scale(0.3);
  transition: all ease-in-out 300ms;
}
.fav-btn:hover > .fa-solid {
  opacity: 100;
  transform: scale(1);
}

.menu .menu__checkmark {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: #99E2D0;
  font-size: 22px;
  width: 0;
  overflow: hidden;
  border-radius: 0 15px 15px 0;
  transform: scaleX(0);
  transform-origin: right;
  transition: all ease-in 250ms;
}
.menu .card:hover > .menu__checkmark {
  transform: scaleX(1);
  width: 100px;
}

.index__loader {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 0;
  background-color: #353535;
  opacity: 40%;
  animation: index-loader;
  animation-duration: 3s;
}
.index__loader p {
  font-family: Shrikhand;
  font-size: 16px;
  color: white;
  animation: index-loader-text;
  animation-duration: 3.1s;
  transform: translateX(-300%) skewX(0deg);
  opacity: 0%;
}

@keyframes index-loader {
  0%, 100% {
    height: 100%;
  }
  0% {
    opacity: 0%;
  }
  5%, 90% {
    opacity: 60%;
  }
  100% {
    opacity: 0%;
    height: 100%;
  }
}
@keyframes index-loader-text {
  0% {
    transform: translateX(-500%) skewX(30deg) scaleY(0.8) scaleX(1);
  }
  0% {
    opacity: 0%;
  }
  10% {
    transform: scaleY(0.8) scaleX(1);
  }
  30% {
    opacity: 100%;
  }
  30% {
    transform: translateX(20px) skewX(-10deg) scaleY(1.2) scaleX(0.8);
  }
  40% {
    transform: translateX(-20px) skewX(20deg);
  }
  60% {
    transform: translateX(0) skewX(0deg);
  }
  80% {
    transform: translateX(-20px) skewX(30deg);
  }
  75% {
    opacity: 100%;
  }
  85% {
    transform: translateX(300%);
  }
  90%, 100% {
    opacity: 0%;
  }
  100% {
    transform: translateX(500%) skewX(-30deg);
  }
}
.menu .card {
  height: 0;
  transform: translateX(200%);
  animation: menu-slideIn 1s;
  animation-delay: 100ms;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
}
.menu .card--1 {
  animation-delay: 150ms;
}
.menu .card--2 {
  animation-delay: 300ms;
}
.menu .card--3 {
  animation-delay: 450ms;
}
.menu .card--4 {
  animation-delay: 600ms;
}
.menu .card--5 {
  animation-delay: 750ms;
}
.menu .card--6 {
  animation-delay: 900ms;
}
.menu .card--7 {
  animation-delay: 1050ms;
}
.menu .card--8 {
  animation-delay: 1200ms;
}
.menu .card--9 {
  animation-delay: 1350ms;
}
.menu .card--10 {
  animation-delay: 1500ms;
}

@keyframes menu-slideIn {
  0% {
    height: 0;
    transform: translateX(200%);
  }
  100% {
    height: fit-content;
    transform: translateX(0);
  }
}
@media (min-width: 768px) {
  .intro__site-function {
    width: 70%;
    margin: auto;
  }
  .intro__function-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .intro__function-list p {
    width: 30%;
    margin-left: 0;
  }
  .restaurant {
    padding: 40px 180px;
    max-width: 1440px;
  }
  .restaurant__list {
    justify-content: space-between;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
  }
  .restaurant .card {
    margin-bottom: 20px;
  }
  .restaurant__header {
    justify-content: center;
  }
  .menu {
    width: 80%;
    margin: auto;
    padding-bottom: 50px;
  }
}
* {
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  max-width: 1440px;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
  margin: auto;
}

main {
  margin-bottom: -40px;
}

.fa-solid, .fa-regular {
  font-size: 22px;
}

i {
  color: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

p {
  font-size: 16px;
  color: black;
}

.btn {
  cursor: pointer;
  width: fit-content;
  padding: 15px;
  margin-top: 27px;
  border: none;
  border-radius: 25px;
  color: white;
  background: linear-gradient(193deg, #FF79DA -11.44%, #9356DC 123.93%);
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
}

.section-title {
  font-size: 24px;
  font-weight: bolder;
  color: black;
  margin-bottom: 26px;
}

.card {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 15px;
  margin-bottom: 18px;
  box-sizing: border-box;
  height: fit-content;
}
.card__title {
  color: black;
  font-size: 18px;
  margin-bottom: 5px;
}
.card__content {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 13px;
}
.card__text-content {
  flex-direction: column;
}
.card p {
  font-size: 17px;
}

/*# sourceMappingURL=main.css.map */
