.intro {
  display: flex;
  flex-direction: column;
}
.intro > * {
  margin-bottom: 27px;
}
.intro__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 40px 15px;
}
.intro__content .btn {
  margin-bottom: 17px;
}
.intro__site-function {
  padding: 48px 20px;
  background-color: white;
}
.intro__function-list {
  display: flex;
  justify-content: left;
}
.intro__function-list ol {
  padding-inline-start: 20px;
  width: 100%;
  max-width: 500px;
  list-style-type: none;
}
.intro__function-list li {
  display: flex;
  align-items: center;
  counter-increment: list-counter;
  font-size: 16px;
  font-weight: bold;
  border-radius: 25px;
  height: 72px;
  margin-bottom: 25px;
  background-color: #F6F6F6;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
}
.intro__function-list li::before {
  height: 15px;
  content: counter(list-counter);
  position: relative;
  left: -15px;
  font-size: 80%;
  background-color: #9356DC;
  color: white;
  font-weight: bold;
  padding: 6px 10px;
  border-radius: 16px;
}
.intro__function-list i {
  padding: 28px;
  color: #7E7E7E;
}
.intro__function-list .fa-store {
  color: #9356DC;
}

.restaurant {
  padding: 40px 25px;
}
.restaurant__list {
  display: flex;
  flex-direction: column;
}
.restaurant .card {
  height: 251px;
}
.restaurant .card img {
  height: 70%;
  width: 100%;
  object-fit: cover;
  border-radius: 15px 15px 0 0;
  height: 65%;
}
.restaurant .card__text-content {
  display: flex;
  flex-wrap: nowrap;
  overflow: hidden;
}

.header {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.header__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 14px 0;
}
.header__logo a {
  position: relative;
  left: -42px;
  font-weight: 800;
}
.header__location {
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  background-color: #EAEAEA;
}
.header__location i {
  margin-right: 17px;
  color: black;
}

.footer {
  width: inherit;
  background-color: #353535;
}
.footer * {
  color: white;
}
.footer__logo {
  width: fit-content;
  display: flex;
  font-size: 18px;
  font-family: Shrikhand;
  margin-bottom: 16px;
}
.footer__content {
  display: flex;
  flex-direction: column;
  width: fit-content;
  padding: 22px 25px;
}
.footer__content i {
  width: 11px;
  margin-right: 15px;
}
.footer__content li {
  display: flex;
  list-style-type: none;
  margin-bottom: 7px;
}
.footer__content li .fa-solid {
  color: white;
}
.footer__content p {
  width: 50%;
}

.restaurant__header {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 32px;
  margin-bottom: 40px;
  box-sizing: border-box;
}
.restaurant i {
  box-sizing: border-box;
  width: 22px;
  padding: 24px;
  margin-right: 24px;
}
.restaurant__name {
  font-family: Shrikhand;
  font-size: 28px;
  font-weight: 400;
  line-height: 28px;
}
.restaurant__image {
  z-index: -1;
  width: 100%;
  height: 275px;
  object-fit: cover;
}

.menu {
  position: relative;
  top: -40px;
  z-index: 1;
  background-color: #F6F6F6;
  border-radius: 30px 30px 0 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 15px;
}
.menu section {
  width: 100%;
  margin-bottom: 40px;
}
.menu__title {
  display: flex;
  flex-direction: column;
  width: fit-content;
  font-size: 16px;
  font-weight: 300;
  text-transform: uppercase;
  margin-bottom: 12px;
  line-height: 27px;
}
.menu__title::after {
  content: " ";
  width: 40px;
  border-bottom: 3px solid #99E2D0;
}
.menu .card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 15px;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
}
.menu .card__text-content {
  width: 100%;
  display: inline;
  overflow: hidden;
}
.menu .card .price {
  justify-self: right;
  align-self: flex-end;
  font-weight: bold;
}

.btn {
  transform: scale(1);
  transition: all ease-in-out 400ms;
}
.btn:hover {
  opacity: 0.8;
  transform: scale(0.95);
  box-shadow: 2px 6px 12px 0px rgba(0, 0, 0, 0.5);
}

.fav-btn {
  display: block;
  box-sizing: border-box;
  justify-content: center;
  width: fit-content;
  height: 100%;
  cursor: pointer;
}
.fav-btn i {
  position: absolute;
  right: 5%;
  justify-self: right;
  width: fit-content;
  height: 22px;
  color: #7E7E7E;
}
.fav-btn .fa-regular {
  z-index: -1;
}
.fav-btn .fa-solid {
  z-index: 1;
  color: red;
  background-color: none;
  opacity: 0;
  transition: opacity ease-in-out 600ms;
}
.fav-btn:hover > .fa-solid {
  opacity: 100;
}

* {
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}

main {
  background-color: #F6F6F6;
}

.fa-solid, .fa-regular {
  font-size: 22px;
}

i {
  color: none;
}

a {
  text-decoration: none;
}

p {
  font-size: 16px;
  color: black;
}

.btn {
  cursor: pointer;
  width: fit-content;
  padding: 15px;
  margin-top: 27px;
  border: none;
  border-radius: 25px;
  color: white;
  background: linear-gradient(193deg, #FF79DA -11.44%, #9356DC 123.93%);
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
}

.section-title {
  font-size: 24px;
  font-weight: bolder;
  color: black;
  margin-bottom: 26px;
}

.card {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 15px;
  margin-bottom: 18px;
  box-sizing: border-box;
  height: fit-content;
}
.card__title {
  color: black;
  font-size: 18px;
  margin-bottom: 5px;
}
.card__content {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 13px;
}
.card__text-content {
  flex-direction: column;
}
.card p {
  font-size: 17px;
}

/*# sourceMappingURL=main.css.map */
